body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

header {
  position: relative;
}

.item-header-1 {
  background-color: rgb(149, 159, 250);
  height: 60px;
  padding: 18px 42px;
}

header span {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.text-download {
  cursor: pointer;
}

.text-download:hover {
  color: green;
}

.item-header-1 i {
  font-size: 20px;
}

figure img {
  position: relative;
  width:100%;
}

.search input{
  text-align: center;
  width: 250px;
  margin-top: -50px;
  margin-left: 420px;
}

.icon {
  margin-left: 650px;
  margin-top: -25px;
  position: absolute;
}
img{
  pointer-events:none
}
