
<figure class="banner">
<img src="../assets/img/banner.gif" alt="">
</figure>
<div class="conteiner justify-center">
<content class="story-container d-flex container">
  <ul>
    <li>
      <figure class="story-item">
        <img src="../assets/img/robot1.jpeg" alt="">
      </figure>
      <span class="item">Robot k</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot2.jpeg" alt="">
      </figure>
      <span class="item">Robot Y</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot3.jpg" alt="">
      </figure>
      <span class="item">Robot C</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot4.jpg" alt="">
      </figure>
      <span class="item">Robot D</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot5.jpg" alt="">
      </figure>
      <span class="item">Robot K</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot5.jpeg" alt="">
      </figure>
      <span class="item">Robot S</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot6.jpeg" alt="">
      </figure>
      <span class="item">Robot U</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot7.jpeg" alt="">
      </figure>
      <span class="item">Robot J</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot8.jpeg" alt="">
      </figure>
      <span class="item">Robot T</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/story/robot9.jpg" alt="">
      </figure>
      <span class="item">Robot A</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/robot1.jpeg" alt="">
      </figure>
      <span class="item">Robot L</span>
    </li>

    <li>
      <figure class="story-item">
        <img src="../assets/img/robot2.jpg" alt="">
      </figure>
      <span class="item">Robot  P</span>
    </li>
  </ul>
</content>
</div>
